<!DOCTYPE html>
<html lang="en" ng-app="FullstackGeneratedApp">
<head>
    <base href="/" />
    <title>Note</title>
    <link rel="stylesheet" type="text/css" href="/components-font-awesome/css/font-awesome.css"><!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript"
 src="//api.filepicker.io/v1/filepicker.js"></script>
</head>
<body ng-controller="MasterCtrl">
    <nav class="off-canvas">
        <div class="off-canvas-menu"><a href="https://afternoon-dawn-4586.herokuapp.com">HOME</a></div>
        <div class="off-canvas-menu" ng-click="isBgCollapsed = !isBgCollapsed">BACKGROUND
        </div>
        <ul class="bgs" collapse="isBgCollapsed">
            <li ng-repeat="image in images" ng-click="switchBg(image)">
                <img src="{{ image }}">
            </li>
        </ul>
        <div class="off-canvas-menu" ng-click="isGridCollapsed = !isGridCollapsed">GRID</div>
        <ul class="grids" collapse="isGridCollapsed">
            <li ng-repeat="grid in grids" ng-click="switchGrid(grid)">
                <h4>{{ grid }}</h4>
            </li>
            <li class="remove-grid" ng-click="removeGrid(board.grid)"><h4>Remove Grid</h4></li>
        </ul>
    </nav>
    <navbar></navbar>
    <form id="createBoard" name="newBoardForm" class="form-inline ls-form" ng-hide="showBoardForm" ng-submit="" novalidate>
        <div class="form-group form-group-lg">
        <label for="boardName" class="sr-only">Name</label>
        <input ng-model="board.name" ng-change="board.name" type="text" class="form-control" id="boardName" placeholder="Enter board name..." required>
        </div>
        <button type="submit" id="create-board" class="btn" ng-disabled="newBoardForm.$invalid" ng-click="createBoard()">Create</button>
        <!-- <button type="submit" id="replace-board" class="btn btn-danger" ng-disabled="newBoardForm.$invalid" ng-click="replaceBoard({id: board.name})">Create</button> -->
    </form>

    <div ui-view style="width:100vw;height:100vh;position:relative;margin-top:-70px;background-image:url({{currentBoard.backgroundImg}});background-size:cover;" id="board"></div>

    <div class="grid-overlay-none"></div>

    <div class="grid-overlay-modular"></div>

    <div class="grid-overlay-column">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

</body>
</html>