<!DOCTYPE html>
<html lang="en" ng-app="FullstackGeneratedApp">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"><!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
<body ng-controller="MasterCtrl">

    <navbar></navbar>
    <form id="createBoard" name="newBoardForm" class="form-inline" novalidate>
        <div class="form-group form-group-sm">
        <label for="boardName" class="sr-only">Name</label>
        <input ng-model="board.name" ng-change="board.name" type="text" class="form-control" id="boardName" placeholder="Enter board name...">
        </div>
        <button type="submit" id="create-board" class="btn btn-default" ng-disabled="newBoardForm.$invalid" ng-click="createBoard()">Create</button>
        <!-- <button type="submit" id="replace-board" class="btn btn-danger" ng-disabled="newBoardForm.$invalid" ng-click="replaceBoard({id: board.name})">Create</button> -->
    </form>

    <div ui-view></div>

</body>
</html>