navbar {

  display: block;
  background: transparent;

  fullstack-logo {
    padding-top: 8px;
    margin-right: 20px;
    margin-left:70px;
    width: 30px;
    font-size: 30px;
    font-weight:300;

  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
.fa.fa-pencil {
  text-indent: -9999px;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ecd82d;
  border-radius: 50%;
  position: relative;
}
.fa.fa-pencil:hover {
  background-color: #333;
}
.fa.fa-pencil:before,
.fa.fa-pencil:after {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -1px auto 0;
}
.fa.fa-pencil:before {
  transform: rotate(90deg);
}
.fa.fa-pencil:after {
  transform: rotate(0deg);
}














