navbar {

  display: block;
  background: transparent;

  fullstack-logo {
    padding-top: 8px;
    margin-right: 20px;
    margin-left:70px;
    width: 30px;
    font-size: 30px;
    font-weight:300;

  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
.fa.fa-pencil {
  position: fixed;
  top:8px;
  right: 90px;
  font-size: 0px;
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
}
.fa.fa-pencil:hover {
  background-color: #ffff00;
}
.fa.fa-pencil:hover:before,
.fa.fa-pencil:hover:after {
  background: #333;
}

.fa.fa-pencil:before,
.fa.fa-pencil:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 40px;
  background: #fff;
  content: '';
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.fa.fa-pencil:after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}















