.ls-form {
	.btn {
	  padding: 10px 15px;
	  background-color: rgba(255,255,255,0.6);
	  border: 1px solid rgba(255,255,255,1);
	  border-radius: 0;
	  font-size: 18px;
	  font-weight: 300;
	  &:hover {
	  	background-color: rgba(255,255,255,1);
	  	color: #000;
	  }
  }
	input[type='text'],
	button[disabled='disabled'] {
		background: rgba(255,255,255,0);
		color: rgba(255,255,255,0.6);
	}
	input {
		&:focus, &:active {
			border: 1px solid #fff;
			background-color: rgba(255,255,255,.4);
		}
	}
	.form-group-lg {
		.form-control {
			border-radius: 0;
			border-color: rgba(255,255,255,0.7);
			width:300px;
			color: #000;
			font-weight: 300;
			&:focus {
				border-color: rgba(255,255,255,1);
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
	}
}

.note-color-options ul,
.note-color-options li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.note-color-options {
	width: 105px;
}
.note-color-options li {
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 3px;
}
.note-color-options .red {
	border-color: $labelRed;
}
.note-color-options .yellow {
	border-color: $labelYellow;
}
.note-color-options .green {
	border-color: $labelGreen;
}
.note-color-options .blue {
	border-color: $labelBlue;
}
.note-color-options .white {
	border-color: $labelWhite;
}
.note-color-options .purple {
	border-color: $labelPurple;
}
.note-color-options .emerald {
	border-color: $labelEmerald;
}
.note-color-options .grey {
	border-color: $labelGrey;
}
.note-color-options .red:hover {
	border-color: darken($labelRed, 30%) !important;
}
.note-color-options .yellow:hover {
	border-color: darken($labelYellow, 30%) !important;
}
.note-color-options .green:hover {
	border-color: darken($labelGreen, 30%) !important;
}
.note-color-options .blue:hover {
	border-color: darken($labelBlue, 30%) !important;
}
.note-color-options .white:hover {
	border-color: darken($labelWhite, 30%) !important;
}
.note-color-options .purple:hover {
	border-color: darken($labelPurple, 30%) !important;
}
.note-color-options .emerald:hover {
	border-color: darken($labelEmerald, 30%) !important;
}
.note-color-options .grey:hover {
	border-color: darken($labelGrey, 30%) !important;
}

#changeBoardBg {
  position: absolute;
  margin-left: 20px;
  display: block;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 1001;
}
#changeBoardBg i {
  position: absolute;
  top: 10%;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
#changeBoardBg.cse-menu-open i {
  background-color: transparent;
}
#changeBoardBg i:before,
#changeBoardBg i:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}
#changeBoardBg i:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}
#changeBoardBg i:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}
#changeBoardBg.cse-menu-open  i:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
#changeBoardBg.cse-menu-open  i:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}























