.ls-form {
	.btn {
	  padding: 10px 15px;
	  background-color: rgba(255,255,255,0.6);
	  border: 1px solid rgba(255,255,255,1);
	  border-radius: 0;
	  font-size: 18px;
	  font-weight: 300;
	  &:hover {
	  	background-color: rgba(255,255,255,1);
	  	color: #000;
	  }
  }
	input[type='text'],
	button[disabled='disabled'] {
		background: rgba(255,255,255,0);
		color: rgba(255,255,255,0.6);
	}
	input {
		&:focus, &:active {
			border: 1px solid #fff;
			background-color: rgba(255,255,255,.4);
		}
	}
	.form-group-lg {
		.form-control {
			border-radius: 0;
			border-color: rgba(255,255,255,0.7);
			width:300px;
			color: #000;
			font-weight: 300;
			&:focus {
				border-color: rgba(255,255,255,1);
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
	}
}