* {
  box-sizing: border-box;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

body {
	background: url('http://fc00.deviantart.net/fs15/i/2007/059/2/1/Corkboard_Wood_Cork_Composite_by_Enchantedgal_Stock.jpg');
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';